/* Base Styles */

.page {
  color: #2b2b2b;
  font-family: "Source Sans Pro", sans-serif;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  float: left;
  width: 400px;
}

/* Header */

.header {
  height: 800px;
  background: url(../img/full-background.png);
  background-position: center;
  background-size: cover;
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.header__name {
  color: #bbc085;
  font-family: "Lora", serif;
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin: 0;
  padding: 65px 0 65px 50px;
}

.header__menu {
  float: right;
  margin: 0;
  padding: 65px 25px;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list_item {
  display: inline-block;
}

.header__list_link {
  color: #828282;
  font-size: 18px;
  padding-left: 80px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__introduction {
  clear: both;
  color: #9b9b9b;
  font-family: "Lora", serif;
  font-size: 72px;
  line-height: 80px;
  margin: 0;
  padding: 20px 0 20px 50px;
  min-width: 950px;
}

.header__introduction span {
  color: #2b2b2b;
}

/* Main - About */

.main__about .full-width {
  padding: 80px 0;
}

.main__about h2 {
  font-family: "Lora", serif;
  font-size: 36px;
  padding-left: 50px;
}

.main__about_text-location {
  color: #7f7f7f;
  font-size: 21px;
  line-height: 40px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  width: 525px;
}

.main__about_text-background {
  color: #7f7f7f;
  font-size: 21px;
  line-height: 40px;
  margin: 0;
  padding-left: 50px;
  padding-right: 0;
  width: 525px;
}

/* Main - Work */

.main__work {
  background-color: #f9ceb7;
  text-align: center;
}

.main__work .full-width {
  padding: 115px 0;
}

.main__work_icon {
  padding-bottom: 30px;
}

.main__work_heading {
  font-size: 24px;
  line-height: 32px;
  width: 190px;
  margin: 0 auto;
}

.main__work_text {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0 50px;
}

/* Footer */
.contact {
  background-color: #ebebeb;
}

.contact .full-width {
  padding: 110px 0;
}

.contact__image {
  border: 12px solid #ffffff;
  margin-left: 25px;
}

.contact__main-header,
.contact__email-header,
.contact__social-media-header,
.contact__social-list {
  padding-left: 115px;
}

.contact__main-header {
  font-family: "Lora", serif;
  font-size: 36px;
  line-height: 44px;
}

.contact__email-header {
  font-size: 32px;
  font-weight: normal;
  line-height: 44px;
  margin: -30px 0 5px 0;
}

.contact__envelope-icon {
  padding: 0 10px 0 115px;
}

.contact__link {
  color: #c49075;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.contact__social-media-header {
  font-size: 29px;
  font-weight: bold;
  line-height: 44px;
  margin: 40px 0 0 0;
}

.contact__social-list {
  list-style: none;
}

.contact__social-list li {
  display: inline-block;
}

.contact__social-list img {
  padding-right: 48px;
}
