/* Base Styles */

.page {
  color: #2b2b2b;
  font-family: "Source Sans Pro", sans-serif;
}

/* Header */

.list {
  list-style: none;
}

/* Main - About */

.main__about .full-width {
  padding: 80px 0;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.half-width {
  float: left;
  width: 600px;
}

.main__about h2 {
  font-family: "Lora", serif;
  font-size: 36px;
  padding-left: 50px;
}

.main__about p {
  color: #7F7F7F;
  font-size: 21px;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Main - Work */

.main__work {
  background-color: #F9CEB7;
  text-align: center;
}

.main__work .full-width {
  padding: 115px 0;
}

.third-width {
  float: left;
  width: 400px;
}

.main__work img {
  padding-bottom: 30px;
}

.main__work h3 {
  font-size: 24px;
  line-height: 32px;
  /* width: ; */
  margin: 0 auto;
}

.main__work p {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0 50px;
}

/* Footer */

.contact__content_link {
  text-decoration: none;
}
